{% extends "admin/custom_base.html" %}
{% load i18n admin_urls static admin_list %}
{% block content %}
    <section>
        <article>
            <div class="top-head">
                <h1>Financial Forecast {{ year }}</h1>
            </div>
            <div class="client-area">
                <div class="listing-table">
                    <canvas id="id-forecast-graph-container" style="width:100%;"></canvas>
                </div>
                <div class="top-part">
                    <select id="income_type_select">
                        <option value="weighted" selected>Weighted</option>
                        <option value="unweighted">Unweighted</option>
                        <option value="exclude_pipeline">Exclude pipeline</option>
                    </select>
                </div>
                <div class="listing-table">
                    <div id="tabs-content">
                        <div id="tab1" class="tab-content">
                            <div class="table-responsive listing-table-contact">
                                <table class="table" id="forecast-table">
                                    <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Jan</th>
                                        <th scope="col">Feb</th>
                                        <th scope="col">Mar</th>
                                        <th scope="col">Apr</th>
                                        <th scope="col">May</th>
                                        <th scope="col">Jun</th>
                                        <th scope="col">Jul</th>
                                        <th scope="col">Aug</th>
                                        <th scope="col">Sep</th>
                                        <th scope="col">Oct</th>
                                        <th scope="col">Nov</th>
                                        <th scope="col">Dec</th>
                                        <th scope="col"><img src="{% static 'custom_admin_assets/images/eoy.svg' %}" alt=""> EOY Projection</th>
                                    </tr>
                                    </thead>
                                    <tbody>
{#                                    tr will be populated #}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <input type="hidden" id="id_csrf_token" value="{{ csrf_token }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'custom_admin_assets/js/httpClient.js' %}"></script>
    <script src="{% static 'operations/js/forecast-graph.js' %}"></script>
{% endblock %}
