{% extends "admin/custom_base.html" %}
{% load i18n admin_urls static admin_list %}
{% block content %}
    <section>
        <article>
            <div class="top-head">
                <h1>Financial Forecast 2023</h1>
            </div>
            <div class="client-area">
                <div class="listing-table">
                    <canvas id="id-forecast-graph-container" style="width:100%;max-width:1000px"></canvas>
                </div>
            </div>
        </article>
    </section>
    <input type="hidden" id="id_csrf_token" value="{{ csrf_token }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'custom_admin_assets/js/httpClient.js' %}"></script>
    <script src="{% static 'operations/js/forecast-graph.js' %}"></script>
{% endblock %}
