html,
body {
    font-family: 'Poppins', sans-serif;
    color: #717171;
    font-weight: 400;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background-color: #F4F4F4;
    font-size: 16px;
}

img {
    max-width: 100%;
    outline: 0;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    text-shadow: none;
    line-height: 110%;
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
}
.btn{
    background-color: #9E3FFD!important;
    border: none;
    font-size: 14px;
    padding: 8px 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn:hover{
    background-color: #5a14a0!important;
}
.btn.btn-secondary{
    background-color: transparent!important;
    border: 1px solid #BABFC3;
    color: #202223;
    font-weight: 500;
}
.btn img, .btn i, .btn svg{
    margin-right: 5px;
}

/* Sidebar */

#sidebar{
    background-color: #25272C;
    max-width: 240px;
    width: 240px;
    position: fixed;
    height: 100vh;
}
#sidebar .logo{
    padding: 30px 24px;
}
.slide-list2{
    height: 55%;
    border-top: 1px solid;
    padding-top: 10px;
    margin-top: 10px;
}
.slide-list li{
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
}
.slide-list li a{
    color: #CBD4DB;
    text-decoration: none;
    padding: 8px 20px;
    display: block;
}
.slide-list li li a{
    padding: 4px 0;
}
.slide-list li a.accordion{
    color: #6F7782;
    font-weight: 500;
    position: relative;
}
.slide-list li a.accordion::after{
    position: absolute;
    content: "";
    width: 12px;
    height: 7px;
    right: 20px;
    top: 15px;
    background: url(../images/arrow.svg) 0 0 no-repeat;
    transform: rotate(180deg);
}
/* Side bar end */

/* Container area */
.top-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 32px;
    background-color: #fff;
}
article{
    padding: 0;
    padding-left: 240px;
}
article h1{
    font-size: 24px;
    font-weight: 500;
    color: #1F384C;
}
.bottom-box{
    padding: 0 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    min-height: 157px;
    margin-top: 25px;
}
.bottom-box h2{
    font-size: 14px;
    color: #000;
}
.bottom-box .count{
    font-size: 48px;
    color: #149D52;
}
.bottom-box .count.red{
    color: #F24C5A;
} 
.bottom-box .count.black{
    color: #1F384C;
}

/* //////Client////////// */
.table-top, .client-show{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 500;
    gap: 20px;
}
.table-top{
    margin: 10px 0;
}
.table-top a{
    color: #3f3f3f;
    text-decoration: none;
}
.table-top img{
    margin-left: 5px;
}
.table-top select.form-select{
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #979797;
}
.client-show{
    margin-left: 50px;
}
.listing-table{
    background-color: #fff;
    border-radius: 3px;
    margin: 25px 32px;
    overflow-y: auto;
}

.listing-table table tr td, .listing-table table tr th{
    padding: 15px 20px;
    font-size: 14px;
}

.listing-table table tr th{
    border: none;
    border-top: 1px solid #F0F0F0;
    font-weight: normal;
}
.listing-table table thead tr th{
    font-weight: 600;
}
.listing-table table tr th:first-child{
    background-color: #fff;
}
table thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
    text-align: center;
  }
  table th:first-child:after{
    position: absolute;
    width: 1px;
    height: 100%;
    content: "";
    top: 0;
    right: 0;
    background-color: #F0F0F0;
  }
  table tbody th {
    position: sticky;
    left: 0;
    background: white;
    z-index: 1;
  }
.listing-table table tr td{
    border: none;
    border-top: 1px solid #F0F0F0;
}
.listing-table table{
    border-bottom: 1px solid #F0F0F0;
}
a.viewbtn{
    font-size: 14px;
    color: #000;
    border: 2px solid #f9f9f9;
    border-radius: 5px;
    width: 140px;
    height: 42px;
    line-height: 39px;
    text-align: center;
    display: inline-block;
}
a.viewbtn:hover{
    background-color: #E8D1FE;
}
.table-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.showlist{
    font-size: 12px;
}
.pagination li{
    font-size: 12px;
    margin: 0 5px;
}
.page-link:focus{
    box-shadow: none;
}
.pagination li a{
    color: #000;
    border-radius: 4px!important;
}

.pagination li a:hover{
    background-color: #9E3FFD;
    color: #fff;
}
.listing-table ul.pagination{
    margin: 24px 0;
}
.listing-table ul.pagination  li{
    padding: 0;
    width: 36px;
    height: 36px;
    margin-right: 2px;
}
.listing-table ul.pagination  li a{
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .panel {
    padding: 0 0;
    display: none;
    overflow: hidden;
  }
  .slide-list li li a{
    padding: 4px 20px;
  }
  .slide-list li li a.active{
    background-color: #E8D1F34D;
  }
  .status-ul {
    display: flex;
    align-items: center;
    margin-left: 48px;
  }
  .listing-table ul li{
    margin-right: 24px;
  }

  .listing-table ul li a{
    font-size: 12px;
    font-weight: 600;
    color: #6F7782;
    padding: 15px 0;
    display: block;
  }
  .listing-table ul li.active a{
    border-bottom: 2px solid #9E3FFD;
  }
  .listing-table table{
    width: 100%;
 }
 .listing-table table .form-select{
    width: auto;
    border: none;
    box-shadow: none;
 }
 .form-control, .form-select{
    box-shadow: none!important;
 }
 .dropmenu{
    padding: 0 10px;
 }
 .listing-table table tr td span.active, .listing-table table tr td span.inactive{
    background-color: #AEE9D1;
    padding: 2px 8px;
    border-radius: 50px;
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
 }
 .listing-table table tr td span.inactive{
    background-color: #E4E5E7;
 }
 .modal-title{
    font-weight: 600;
    color: #202223;
 }
 .modal-header button{
    background-color: transparent;
    border: none;
    font-size: 34px;
    line-height: 30px;
    color: #5C5F62;
    font-weight: 300;
 }
 .custom-form label, .custom-form input, .custom-form select, .custom-form textarea{
    font-size: 14px;
    color: #202223;
 }
 .setting-icon{
    position: absolute;
    bottom: 24px;
    left: 24px;
 }

 .list-action-button {
     border: none !important;
 }

 /* width */
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    border-radius: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff; 
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #BBBFC3; 
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


 @media only screen and (max-width:1600px){
    .listing-table table{
        width: 1400px;
     }
 }
 @media (min-width: 576px){
    .modal-dialog {
        max-width: 600px;
    }
 }





