{% extends "admin/custom_base.html" %}
{% load i18n admin_urls static admin_list %}

{% block content %}
<section>
    <article>
        <div class="top-head">
            <h1>Clients</h1>
            <button id="btn-client-modal-show" class="btn btn-primary">Add Client</button>
        </div>
        <div class="client-area">
            <div class="listing-table">
{#                <ul id="tabs-nav" class="new-tabs">#}
                <ul id="id_filters_container" class="status-ul">
                    <li class="active btn_filter" data-filter=""><a href="#">All</a></li>
                    <li class="btn_filter" data-filter="AC"><a href="#">Active</a></li>
                    <li class="btn_filter" data-filter="PC"><a href="#">Inactive</a></li>
                </ul>
                <div id="tabs-content">
                    <div id="tab1" class="tab-content">
                        <div class="table-responsive">
                            <table class="table" id="id_client_table">
                                <thead>
                                    <tr>
                                        <th scope="col">Client Name</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Active projects</th>
                                        <th scope="col">Pipeline projects</th>
                                        <th scope="col">Committed Annual Revenue</th>
                                        <th scope="col">Projected annual revenue</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                        <ul class="pagination justify-content-center" id="id_pagination_container">
                            <li class="page-item">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true" id="id_btn_previous_page">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" id="id_btn_next_page">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal-client" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add new client</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3 custom-form">
                            <input type="hidden" value="-1" id="id_selected_client"/>
                            <div class="col-12">
                                <label for="inputAddress2" class="form-label">Client Name</label>
                                {{ client_add_form.client_name }}
                                <ul id="id_error_{{ client_add_form.client_name.name }}" class="error_container" style="color: red;"></ul>
                            </div>
                            <div class="col-md-12">
                                <label for="exampleFormControlTextarea1" class="form-label">Address 1</label>
                                {{ client_add_form.address1 }}
                                <ul id="id_error_{{ client_add_form.address1.name }}" class="error_container" style="color: red;"></ul>
                            </div>
                            <div class="col-md-12">
                                <label for="exampleFormControlTextarea1" class="form-label">Address 2</label>
                                {{ client_add_form.address2 }}
                                <ul id="id_error_{{ client_add_form.address2.name }}" class="error_container" style="color: red;"></ul>
                            </div>
                            <div class="col-6">
                                <label for="inputAddress2" class="form-label">City</label>
                                {{ client_add_form.city }}
                                <ul id="id_error_{{ client_add_form.city.name }}" class="error_container" style="color: red;"></ul>
                            </div>
                            <div class="col-4">
                                <label for="inputAddress2" class="form-label">State</label>
                                {{ client_add_form.state }}
                                <ul id="id_error_{{ client_add_form.state.name }}" class="error_container" style="color: red;"></ul>
                            </div>
                            <div class="col-2">
                                <label for="inputAddress2" class="form-label">Zipcode</label>
                                {{ client_add_form.zipcode }}
                                <ul id="id_error_{{ client_add_form.zipcode.name }}" class="error_container" style="color: red;"></ul>
                            </div>
                            <div class="col-12">
                                <label for="inputAddress2" class="form-label">Country</label>
                                {{ client_add_form.country }}
                                <ul id="id_error_{{ client_add_form.country.name }}" class="error_container" style="color: red;"></ul>
                            </div>

                            <div class="col-md-12">
                                <label for="inputState" class="form-label">Client Type</label>
                                {{ client_add_form.client_type }}
                                <ul id="id_error_{{ client_add_form.client_type.name }}" class="error_container" style="color: red;"></ul>
                            </div>

                            <div class="col-md-12">
                                <label for="inputState" class="form-label">Billing Structure</label>
                                {{ client_add_form.billing_structure }}
                                <ul id="id_error_{{ client_add_form.billing_structure.name }}" class="error_container" style="color: red;"></ul>
                            </div>

                            <div class="col-md-12">
                                <label for="exampleFormControlTextarea1" class="form-label">Billing Target</label>
                                {{ client_add_form.billing_target }}
                                <ul id="id_error_{{ client_add_form.billing_target.name }}" class="error_container" style="color: red;"></ul>
                            </div>

                            <div class="col-md-12">
                                <label for="inputState" class="form-label">Payment Terms</label>
                                {{ client_add_form.payment_terms }}
                                <ul id="id_error_{{ client_add_form.payment_terms.name }}" class="error_container" style="color: red;"></ul>
                            </div>


                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>
                        <button type="button" id="id_btn_client_add" class="btn btn-primary">Add client</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="modal-delete" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Are you sure to delete?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btn-confirm-delete">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
    <input type="hidden" id="id_csrf_token" value="{{ csrf_token }}">
    <script src="{% static 'custom_admin_assets/js/httpClient.js' %}"></script>
    <script src="{% static 'tools/js/client.js' %}"></script>
{% endblock %}
