{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
    {% if cl.formset %}
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
    {% endif %}
    {% if cl.formset or action_form %}
        <script src="{% url 'admin:jsi18n' %}"></script>
    {% endif %}
    {{ media.css }}
    {% if not actions_on_top and not actions_on_bottom %}
        <style>
            #changelist table thead th:first-child {
                width: inherit
            }
        </style>
    {% endif %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media.js }}
{% endblock %}
{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
            &rsaquo; <a
                href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a>
            &rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
        </div>
    {% endblock %}
{% endif %}
{% block coltype %}{% endblock %}

{% block content %}
    <div id="content-main">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group" id="id_filters_container">
            <input type="radio" class="btn-check btn_filter" name="btnradio" id="btnradio1" data-filter="" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">All</label>

            <input type="radio" class="btn-check btn_filter" name="btnradio" id="btnradio2" data-filter="AC" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">Active</label>

            <input type="radio" class="btn-check btn_filter" name="btnradio" id="btnradio3" data-filter="PC" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio3">Inactive</label>
        </div>
        <div>
            <button id="btn-client-modal-show" class="btn btn-primary">Add Client</button>
        </div>
        <div>
            <table class="table" id="id_client_table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Client Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Status</th>
                    <th scope="col">Active Projects</th>
                    <th scope="col">Pipeline Projects</th>
                    <th scope="col">Committed Annual Revenue</th>
                    <th scope="col">Projected Annual Revenue</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-center" id="id_pagination_container">
            <div class="btn-group" role="group" aria-label="Pagination">
                <button type="button" id="id_btn_previous_page" class="btn btn-primary"><</button>
                <button type="button" id="id_btn_next_page" class="btn btn-primary">></button>
            </div>
        </div>

        <div class="modal fade" id="modal-client" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add new client</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" data-dismiss="modal"
                                aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input type="hidden" value="-1" id="id_selected_client"/>
                            {% for field in client_add_form %}
                                <div class="mb-3">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    <ul id="id_error_{{ field.name }}" class="error_container" style="color: red;"></ul>
                                </div>
                            {% endfor %}
                            {#                        <div class="mb-3">#}
                            {#                            <label for="client-name" class="form-label">Client Name</label>#}
                            {#                            <input type="text" class="form-control" id="client-name">#}
                            {#                        </div>#}
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-dismiss="modal">
                            Exit
                        </button>
                        <button type="button" id="id_btn_client_add" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal" id="modal-delete" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Are you sure to delete?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btn-confirm-delete">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" id="id_csrf_token" value="{{ csrf_token }}">
    </div>
{% endblock %}
