{% extends "admin/custom_base.html" %}
{% load i18n admin_urls static admin_list %}

{% block content %}
<section>
    <article>
        <div class="top-head">
            <h1>Projects</h1>
            <button id="btn-project-modal-show" class="btn btn-primary">Add Project</button>
        </div>
        <div class="client-area">
            <div class="listing-table">
                <ul id="id_filters_container" class="status-ul new-tabs">
                    <li class="active btn_filter" data-filter=""><a href="#">All</a></li>
                    <li class="btn_filter" data-filter="AC"><a href="#">Active</a></li>
                    <li class="btn_filter" data-filter="PC"><a href="#">Inactive</a></li>
                </ul>
                <div id="tabs-content">
                    <div id="tab1" class="tab-content">
                        <div class="table-responsive">
                            <p id="id_no_content" style="text-align: center; display: none;">No projects to show</p>
                            <table class="table" id="id_project_table">
                                <thead>
                                    <tr>
                                        <th scope="col">Project Name</th>
                                        <th scope="col">Client</th>
                                        <th scope="col">Project Type</th>
                                        <th scope="col">Billing Structure</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                        <ul class="pagination justify-content-center" id="id_pagination_container">
                            <li class="page-item">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true" id="id_btn_previous_page">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" id="id_btn_next_page">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal-project" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add new project</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3 custom-form">
                            <input type="hidden" value="-1" id="id_selected_project"/>
                            <div class="col-12">
                                <label for="inputClient" class="form-label">Client</label>
                                {{ project_add_form.client }}
                                <ul id="id_error_{{ project_add_form.client.name }}" class="error_container" style="color: red;"></ul>
                            </div>

                            <div class="col-12">
                                <label for="inputProjectName" class="form-label">Project Name</label>
                                {{ project_add_form.project_name }}
                                <ul id="id_error_{{ project_add_form.project_name.name }}" class="error_container" style="color: red;"></ul>
                            </div>
                            
                            <div class="col-md-12">
                                <label for="inputProjectType" class="form-label">Project Type</label>
                                {{ project_add_form.project_type }}
                                <ul id="id_error_{{ project_add_form.project_type.name }}" class="error_container" style="color: red;"></ul>
                            </div>

                            <div class="col-md-12">
                                <label for="inputBillingStructure" class="form-label">Billing Structure</label>
                                {{ project_add_form.billing_structure }}
                                <ul id="id_error_{{ project_add_form.billing_structure.name }}" class="error_container" style="color: red;"></ul>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
                        <button type="button" id="id_btn_project_add" class="btn btn-primary">Add project</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="modal-delete" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Are you sure to delete?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btn-confirm-delete">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
    <input type="hidden" id="id_csrf_token" value="{{ csrf_token }}">
    <script src="{% static 'custom_admin_assets/js/httpClient.js' %}"></script>
    <script src="{% static 'operations/js/project.js' %}"></script>
{% endblock %}
