{% extends "admin/custom_base.html" %}
{% load i18n admin_urls static admin_list %}

{% block content %}
    <section>
        <article>
            <div class="top-head">
                <h1>Expenses</h1>
                <a type="button" class="btn btn-primary" id="btn-modal-expense"> Add Expense Type</a>
            </div>
            <div class="listing-table mid-menu">
                <ul id="tabs-nav" class="new-tabs status-ul">
                    <li class="active"><a href="#tab1">Expense Report</a></li>
                    <li id="id_btn_tab_information"><a href="#tab2">Expense Types</a></li>
                </ul>
            </div>
            <div class="client-area">
                <div class="listing-table">
                    <div id="tabs-content">

                        <div id="tab1" class="tab-content">
                            <div class="table-responsive listing-table-contact">
                                <table class="table">
                                    <thead id="id_expense_report_thead"></thead>
                                    <tbody id="id_expense_report_tbody"></tbody>
                                </table>
                            </div>
                        </div>

                        <div id="tab2" class="tab-content">
                            <div class="table-responsive">
                                <p id="id_no_content" style="text-align: center; display: none;">No expenses to show</p>
                                <table class="table" id="id_expenses_table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Expense Type</th>
                                            <th scope="col">Recurring Payment</th>
                                            <th scope="col">Expense Payment Amount</th>
                                            <th scope="col">Date of First Payment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <ul class="pagination justify-content-center" id="id_pagination_container">
                                <li class="page-item">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true" id="id_btn_previous_page">
                                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" id="id_btn_next_page">
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modal-expense" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add new client</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="row g-3 custom-form">
                                <div class="col-12">
                                    <label for="inputAddress2" class="form-label">Expense Type</label>
                                    {{ expense_form.expense_type }}
                                    <button type="button" class="btn" id="btn-edit-expense-type">Edit</button>
                                    <button type="button" class="btn" id="btn-add-expense-type">+</button>
                                    <ul id="id_error_{{ expense_form.expense_type.name }}" class="error_container"
                                        style="color: red;"></ul>
                                </div>
                                <div class="col-12 field-expense_type_other">
                                    <label for="inputAddress2" class="form-label">Expense Type Other</label>
                                    {{ expense_form.expense_type_other }}
                                    <ul id="id_error_{{ expense_form.expense_type_other.name }}" class="error_container"
                                        style="color: red;"></ul>
                                </div>
                                <div class="col-12">
                                    <label for="inputAddress2" class="form-label">Recurring Payment</label>
                                    {{ expense_form.recurring_payment }}
                                    <ul id="id_error_{{ expense_form.recurring_payment.name }}" class="error_container"
                                        style="color: red;"></ul>
                                </div>
                                <div class="col-12">
                                    <label for="inputAddress2" class="form-label">Expense Payment Amount</label>
                                    {{ expense_form.expense_payment_amount }}
                                    <ul id="id_error_{{ expense_form.expense_payment_amount.name }}" class="error_container"
                                        style="color: red;"></ul>
                                </div>
                                <div class="col-12 field-expense_frequency">
                                    <label for="inputAddress2" class="form-label">Expense Frequency</label>
                                    {{ expense_form.expense_frequency }}
                                    <ul id="id_error_{{ expense_form.expense_frequency.name }}" class="error_container"
                                        style="color: red;"></ul>
                                </div>
                                <div class="col-12">
                                    <label for="inputAddress2" class="form-label">Date of First Payment</label>
                                    {{ expense_form.date_of_first_payment }}
                                    <ul id="id_error_{{ expense_form.date_of_first_payment.name }}" class="error_container"
                                        style="color: red;"></ul>
                                </div>
                                <div class="col-12 field-date_of_last_payment">
                                    <label for="inputAddress2" class="form-label">Date of Last Payment</label>
                                    {{ expense_form.date_of_last_payment }}
                                    <ul id="id_error_{{ expense_form.date_of_last_payment.name }}" class="error_container"
                                        style="color: red;"></ul>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
                            <button type="button" class="btn btn-primary" id="id_btn_expense_add">Add Expense</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Are you sure to delete?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btn-confirm-delete">Delete</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                    data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Expense Type Modal -->
            <div class="modal fade" id="modal-expense-type" tabindex="-1" role="dialog"  aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add new expense type</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="row g-3 custom-form">
                                <input type="hidden" value="-1" id="id_selected_expense"/>
                                <div class="col-12">
                                    <label for="inputAddress2" class="form-label">Expense Name</label>
                                    {{ expense_type_form.expense_name }}
                                    <ul id="id_error_{{ expense_type_form.expense_name.name }}" class="error_container" style="color: red;"></ul>
                                </div>
                                <div class="col-12">
                                    <label for="inputAddress2" class="form-label">Expense Description</label>
                                    {{ expense_type_form.expense_description }}
                                    <ul id="id_error_{{ expense_type_form.expense_name.name }}" class="error_container" style="color: red;"></ul>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
                            <button type="button" id="id_btn_expense_type_add" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </div>
            </div>

        </article>
    </section>
    <input type="hidden" id="id_csrf_token" value="{{ csrf_token }}">
    <script src="{% static 'custom_admin_assets/js/httpClient.js' %}"></script>
    <script src="{% static 'operations/js/expense.js' %}"></script>
{% endblock %}
