{% extends "admin/custom_base.html" %}
{% load i18n admin_urls static admin_list %}

{% block content %}
    <section>
        <article>
            <div class="top-head">
                <h1>Contractors</h1>
                <a type="button" class="btn btn-primary" id="btn_modal_contractor"> Add
                    contractor</a>
            </div>
            <div class="listing-table mid-menu">
                <ul id="tabs-nav" class="new-tabs status-ul">
                    <li class="active"><a href="#tab1">Costs</a></li>
                    <li><a href="#tab2">Information</a></li>
                </ul>
            </div>
            <div class="client-area">
                <div class="listing-table">
                    <div id="tabs-content">
                        <div id="tab1" class="tab-content">
                            <div class="table-responsive listing-table-contact">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Jan</th>
                                        <th scope="col">Feb</th>
                                        <th scope="col">Mar</th>
                                        <th scope="col">Aprl</th>
                                        <th scope="col">May</th>
                                        <th scope="col">June</th>
                                        <th scope="col">July</th>
                                        <th scope="col">Aug</th>
                                        <th scope="col">Sep</th>
                                        <th scope="col">Oct</th>
                                        <th scope="col">Nov</th>
                                        <th scope="col">Dec</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>
                                            <div class="totals">Total</div>
                                        </th>
                                        <td>$000,000</td>
                                        <td>
                                            <span class="clickarea">$000,000</span>
                                            <div class="input-area">
                                                <input type="text" placeholder="$000,000"/>
                                                <div class="btn-sec">
                                                    <input type="reset" value="reset"/>
                                                    <a href="#"><img src="assets/images/cross.svg" alt=""/></a>
                                                    <input type="submit" value="submit"/>
                                                </div>
                                            </div>
                                        </td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                    </tr>
                                    <tr>
                                        <th>Anna Dawson</th>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                    </tr>
                                    <tr>
                                        <th>First name, last</th>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                    </tr>
                                    <tr>
                                        <th>First name, last</th>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                        <td>$000,000</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i
                                            class="fa fa-chevron-left" aria-hidden="true"></i></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>

                        <div id="tab2" class="tab-content">
                            <div class="table-responsive">
                                <table class="table" id="id_list_table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">Hourly Salary</th>
                                        <th scope="col">Expected Weekly Hours</th>
                                        <th scope="col">Estimated Weekly Salary</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <ul class="pagination justify-content-center" id="id_pagination_container"></ul>
                        </div>

                        <div id="tab3" class="tab-content">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Client Name</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Active projects</th>
                                        <th scope="col">Pipeline projects</th>
                                        <th scope="col">Committed Annual Revenue</th>
                                        <th scope="col">Projected annual revenue</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr>
                                        <th><a href="#" class="dropmenu"><img src="assets/images/menudot.svg"
                                                                              alt=""/></a>Name here
                                        </th>
                                        <td>Enterprise (?)</td>
                                        <td><span class="inactive">Inactive</span></td>
                                        <td>
                                            —
                                        </td>
                                        <td>
                                            —
                                        </td>
                                        <td>-----</td>
                                        <td>-----</td>
                                    </tr>
                                    <tr>
                                        <th><a href="#" class="dropmenu"><img src="assets/images/menudot.svg"
                                                                              alt=""/></a>Name here
                                        </th>
                                        <td>Enterprise (?)</td>
                                        <td><span class="inactive">Inactive</span></td>
                                        <td>
                                            —
                                        </td>
                                        <td>
                                            —
                                        </td>
                                        <td>-----</td>
                                        <td>-----</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i
                                            class="fa fa-chevron-left" aria-hidden="true"></i></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modal-contractor" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add new client</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="row g-3 custom-form">
                                <div class="col-12">
                                    <label for="inputAddress2" class="form-label">Contractor Name</label>
                                    {{ form.contractor_name }}
                                    <ul id="id_error_{{ form.contractor_name.name }}" class="error_container"
                                        style="color: red;"></ul>
                                </div>
                                <div class="col-md-12">
                                    <label for="exampleFormControlTextarea1" class="form-label">Address 1</label>
                                    {{ form.address1 }}
                                    <ul id="id_error_{{ form.address1.name }}" class="error_container"
                                        style="color: red;"></ul>
                                </div>
                                <div class="col-md-12">
                                    <label for="exampleFormControlTextarea1" class="form-label">Address 2</label>
                                    {{ form.address2 }}
                                    <ul id="id_error_{{ form.address2.name }}" class="error_container"
                                        style="color: red;"></ul>
                                </div>
                                <div class="col-6">
                                    <label for="inputAddress2" class="form-label">City</label>
                                    {{ form.city }}
                                    <ul id="id_error_{{ form.city.name }}" class="error_container"
                                        style="color: red;"></ul>
                                </div>
                                <div class="col-4">
                                    <label for="inputAddress2" class="form-label">State</label>
                                    {{ form.state }}
                                    <ul id="id_error_{{ form.state.name }}" class="error_container"
                                        style="color: red;"></ul>
                                </div>
                                <div class="col-2">
                                    <label for="inputAddress2" class="form-label">Zipcode</label>
                                    {{ form.zipcode }}
                                    <ul id="id_error_{{ form.zipcode.name }}" class="error_container"
                                        style="color: red;"></ul>
                                </div>
                                <div class="col-12">
                                    <label for="inputAddress2" class="form-label">Country</label>
                                    {{ form.country }}
                                    <ul id="id_error_{{ form.country.name }}" class="error_container" style="color: red;"></ul>
                                </div>
                                <div class="col-md-12">
                                    <label for="exampleFormControlTextarea1" class="form-label">Contractor Start Date</label>
                                    {{ form.contractor_start_date }}
                                    <ul id="id_error_{{ form.contractor_start_date.name }}" class="error_container"
                                        style="color: red;"></ul>
                                </div>
                                <div class="col-md-12">
                                    <label for="exampleFormControlTextarea1" class="form-label">Contractor Hourly Salary</label>
                                    {{ form.contractor_hourly_salary }}
                                    <ul id="id_error_{{ form.contractor_hourly_salary.name }}" class="error_container"
                                        style="color: red;"></ul>
                                </div>
                                <div class="col-md-12">
                                    <label for="exampleFormControlTextarea1" class="form-label">Contractor Expected Weekly Hours</label>
                                    {{ form.contractor_expected_weekly_hours }}
                                    <ul id="id_error_{{ form.contractor_expected_weekly_hours.name }}" class="error_container"
                                        style="color: red;"></ul>
                                </div>
                                <div class="col-md-12">
                                    <label for="exampleFormControlTextarea1" class="form-label">Contractor Estimated Weekly Salary</label>
                                    {{ form.contractor_estimated_weekly_salary }}
                                    <ul id="id_error_{{ form.contractor_estimated_weekly_salary.name }}" class="error_container"
                                        style="color: red;"></ul>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>
                            <button type="button" class="btn btn-primary" id="id_btn_contractor_add">Add Contractor</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="modal-delete" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Are you sure to delete?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btn-confirm-delete">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </article>
    </section>
    <input type="hidden" id="id_csrf_token" value="{{ csrf_token }}">
    <script src="{% static 'custom_admin_assets/js/httpClient.js' %}"></script>
    <script src="{% static 'tools/js/contractor.js' %}"></script>
{% endblock %}
